@model IEnumerable<learnEcommerce.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle">Create New</i></a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mx-2"><i class="bi bi-pencil-square">Edit</i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm mx-2">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mx-2"><i class="bi bi-trash3">Delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

